name: Selenium UI Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  run-ui-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'


    - name: Setup Chrome
      uses: browser-actions/setup-chrome@latest
      
    - name: Install dependencies
      run: dotnet restore


    - name: Run Selenium Tests
      run: dotnet test --logger "trx;LogFileName=test_results.trx" || echo "Tests failed"


    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always() 
      with:
        name: selenium-test-results
        path: '**/test_results.trx'
